@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
* { box-sizing: border-box; }

ul {
  background-color: skyblue;
  padding: 0;
}

a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav {
  font-family: "sen", sans-serif;
}

nav > ul > li {
  display: inline-block;
}


nav > ul > li:hover {
  background-color: rgb(121, 185, 211);
}


nav > ul > li > ul {
  background-color: rgb(121, 185, 211);
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
}

nav > ul > li > ul > li:hover{
  background-color: rgb(185, 211, 121);
}
nav > img {
  border: 5px;
  border-style: solid;
}

nav > ul > li:hover > ul {
  display: block;
}

section {
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: "sen", sans-serif;
}
/* Reviews section styles */
.how-to-use > .how-to-use-text {
  display: inline-block;
  width: 720px;
  margin-left: 30px;
}
.how-to-use > .how-to-use-image {
  width: 300px;
  margin-left: 30px;
}
.what-it-does > .what-it-does-text {
  display: inline-block;
  width: 720px;
  margin-left: 30px;
}
.what-it-does > .what-it-does-image {
  width: 300px;
  margin-left: 30px;
}

h1 {
  display: inline-block;
  width: auto;
  background-color: rgb(222, 31, 66);
  color: white;
  padding: 5px 15px;
  margin-left: -30px;
}