button{
    color: brown
} 
html{
    background-color: bisque;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.mainButton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.componentsContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.inputContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.outputContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.processorContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.storageContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.button{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.button:hover {background-color: #ddd;}
.dropdown:hover .componentsContent{display: block;}
.inputDropdown:hover .inputContent{display: inline-block;}
.outputDropdown:hover .outputContent{display: inline-block;}
.processorDropdown:hover .processorContent{display: inline-block;}
.storageDropdown:hover .storageContent{display: inline-block;}